* {
  border: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-columns: 1fr 1fr 8fr 1fr 1fr;
  grid-template-rows: 2fr 1fr 8fr 4fr;
  background-color: #ffbe98;
}

#formBox {
  grid-area: 5 / 3 / 6 / 4;
  width: 1000px;
  padding: 100px;
  border: 1px solid black;
  box-sizing: border-box;
}

#datepicker {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  box-sizing: border-box;
  margin-top: 5px;
}

#moodSelect {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  box-sizing: border-box;
  margin-top: 5px;
}

#comment {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  box-sizing: border-box;
  margin-top: 5px;
}

.navBar {
  grid-area: 2 / 3 / 3 / 4;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Lucida Handwriting", cursive;
  font-weight: 800;
  font-size: xx-large;
}

#calendar {
  display: flex;
  height: 100%;
  flex-wrap: wrap;
  grid-area: 3 / 3 / 4 / 4;
  border: solid 1px black;
  font-family: sans-serif Arial;
}

/* Append Stuff */

#popupOver {
  grid-area: 2 / 2 / 3 / 3;
  height: 100%;
  width: 100%;
}

.calendarIndivBox {
  display: flex;
  flex-wrap: wrap;
  width: 14.28571428571429%;
  /* margin: 0.1437% */
  aspect-ratio: 1 / 1;
  background-color: blue;
  border: solid 1px black;
}

.calendarDate {
  display: flex;
  align-self: center;
  justify-items: center;
  font-family: sans-serif Arial;
  font-size: x-large;
}

.popBox {
  height: 100%;
  width: 100%;
  background-color: aliceblue;
  font-family: sans-serif Arial;
  font-size: x-large;
  grid-area: 2 / 2 / 2 / 2;
  display: grid;
  grid-template-columns: subgrid;
  grid-template-rows: subgrid;
}

.popupClose {
  height: 10%;
  aspect-ratio: 1 /1;
  grid-area: 4 / 4 / 5 / 5;
}

.popupBoxText {
  grid-row: 3 / 4;
  grid-column: 3 / 4;
  /* grid-area: 3 / 3 / 4 / 4; */
}

/* End of Append Stuff */
