* {
  border: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-columns: 1fr 1fr 8fr 1fr 1fr;
  grid-template-rows: 2fr 1fr 8fr;
  background-color: #ffbe98;
}

.navBar {
  grid-area: 2 / 3 / 3 / 4;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Lucida Handwriting", cursive;
  font-weight: 800;
  font-size: xx-large;
}

#calendar {
  display: flex;
  height: 100%;
  flex-wrap: wrap;
  grid-area: 3 / 3 / 4 / 4;
  border: solid 1px black;
  font-family: sans-serif Arial;
}

/* Append Stuff */

.calendarIndivBox {
  display: flex;
  flex-wrap: wrap;
  width: 14.28571428571429%;
  aspect-ratio: 1 / 1;
  background-color: blue;
  border: solid 1px black;
}

.calendarDate {
  display: flex;
  align-self: center;
  justify-items: center;
  font-family: sans-serif Arial;
  font-size: x-large;
}

.popBox {
  display: flex;
  height: 100px;
  background-color: aliceblue;
  font-family: sans-serif Arial;
  font-size: x-large;
}

/* End of Append Stuff */
