* {
  border: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-columns: 1fr 1fr 8fr 1fr 1fr;
  grid-template-rows: 2fr 1fr 8fr 4fr;
  background-color: #ffbe98;
  font-family: Arial;
}

/* Form Stuff */

#button {
  background-color: #008cba;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 12px;
  transition-duration: 0.4s;
}

#button:hover {
  background-color: #04aa6d;
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

#formBox {
  grid-area: 4 / 3 / 5 / 4;
  width: 100%;
  padding: 75px;
  border: 1px solid black;
  background-color: paleturquoise;
  box-sizing: border-box;
}

#form-row {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

#datepicker {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-family: sans-serif Arial;
  box-sizing: border-box;
  margin-top: 5px;
}

.ui-datepicker {
  background-color: #ffffff;
  border: 1px solid #ccc;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  display: none;
}

#moodSelect {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  box-sizing: border-box;
  margin-top: 5px;
}

#emoji {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  box-sizing: border-box;
  margin-top: 5px;
}

#comment {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  box-sizing: border-box;
  margin-top: 5px;
}

/* End Form Stuff */

/* Nav Bar Stuff */

.navBar {
  grid-area: 1/ 3 / 3 / 4;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Lucida Handwriting", cursive;
  color: black;
  font-weight: 800;
  font-size: 5rem;
  text-decoration: underline;
}

.navBar a {
  color: black;
}

.navBar a:visited {
  color: black;
}

/* End Nav Bar Stuff */

/* Logo Stuff */
#logo {
  padding-top: 25px;
  padding-right: 25px;
  grid-area: 1/5;
  display: flex;
  justify-content: left;
}

#logo img {
  height: 200px;
  border-radius: 5px;
  border: 5px whitesmoke;
  border-style: solid;
}

#calendar {
  align-content: baseline;
  display: flex;
  flex-wrap: wrap;
  grid-area: 3 / 3 / 4 / 4;
  border: solid 1px black;
}

/* End Logo Stuff */

/* Key */

#key {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  grid-area: 3 / 1 / 4 /2;
}

.keys {
  display: flex;
  width: 75%;
  aspect-ratio: 1 / 1;
  border: solid black 2px;
  justify-content: center;
  align-items: center;
  color: #f8dede;
}

#keyMain {
  font-size: xx-large;
}

#keyHappy {
  background-color: #ce3375;
}

#keySad {
  background-color: #1b5091;
}

#keyAngry {
  background-color: #6ea1d4;
}

#keyCalm {
  background-color: #60c8b3;
}

#keyAnxious {
  background-color: #e881a6;
}

#keyEnergetic {
  background-color: #ffa74f;
}

#keyTired {
  background-color: #279d9f;
}

/* Key End */

/* Append Stuff */

#calendar {
  display: flex;
  flex-wrap: wrap;
  grid-area: 3 / 3 / 4 / 4;
  border: solid 1px black;
}

#popupOver {
  grid-area: 2 / 2 / 2 / 2;
  height: 100%;
  width: 100%;
  display: grid;
}

.calendarIndivBox {
  display: flex;
  flex-wrap: wrap;
  width: 14.28571428571429%;
  height: fit-content;
  background-color: blue;
  box-sizing: border-box;
  border: solid 1px black;
}

.calendarIndivBox:hover {
  opacity: 80%;
}

.calendarIndivBox:active {
  box-shadow: 0 1% black;
  opacity: 100%;
  /* transform: translateY(4px); */
  transform: scale(1.05);
}

.calendarDate {
  display: flex;
  align-self: center;
  justify-items: center;
  font-family: sans-serif Arial;
  font-size: x-large;
}

.popBox {
  height: 100%;
  width: 100%;
  background-color: #dbc7ba;
  font-family: sans-serif Arial;
  font-size: x-large;
  grid-area: 1 / 1 / 3 / 4;

  border: solid black 2px;
}

.popupClose {
  display: flex;
  height: 10%;
  aspect-ratio: 1 /1;
  justify-content: center;
  align-items: center;
  background-color: antiquewhite;
  margin: 10px;
  box-sizing: border-box;
  border: 2px solid black;
}

.popupClose:hover {
  opacity: 50%;
}

.popupClose:active {
  opacity: 100%;
  transform: scale(1.2);
}

.popupBoxText {
  display: flex;
  width: 100%;
  margin-top: 20px;
  grid-area: 2 / 2 / 3 / 3;
  justify-content: center;
  align-self: center;
  flex-wrap: wrap;
  font-family: sans-serif Arial;
}

/* End of Append Stuff */

@media (max-width: 768px) and (orientation: portrait) {
  .body {
    font-size: 5px;
  }

  .navBar {
    font-size: 2rem;
    grid-area: 2/3;
    display: flex;
    justify-content: center;
  }

  .calendarIndivBox {
    width: 25%;
  }

  .popupBoxText {
    font-size: 2rem;
  }

  .popupClose {
    font-size: 5rem;
  }

  #logo {
    grid-area: 1/3;
    justify-content: center;
  }

  #formBox {
    height: 85%;
    width: 100%;
    font-size: small;
    display: flex;
    justify-content: center;
  }

  .calendarDate {
    font-size: 1.25rem;
    display: flex;
    justify-content: right;
  }
}

@media (max-width: 1920px) and (orientation: landscape) {
  .body {
    font-size: 5px;
  }

  .navBar {
    font-size: 6rem;
    grid-area: 2/3;
    display: flex;
    justify-content: center;
  }

  .calendarIndivBox {
    width: 25%;
  }

  .popupBoxText {
    font-size: 5rem;
  }

  .popupClose {
    font-size: 10rem;
  }

  #logo {
    grid-area: 1/3;
    justify-content: center;
  }

  #formBox {
    height: 65%;
    width: 100%;
    font-size: xx-large;
    display: flex;
    justify-content: center;
  }

  .calendarDate {
    font-size: 2rem;
    display: flex;
    justify-content: center;
  }
}
