* {
  border: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-columns: 1fr 1fr 8fr 1fr 1fr;
  grid-template-rows: 2fr 1fr 8fr 4fr;
  background-color: #ffbe98;
}

#button {
  background-color: #008cba;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 12px;
  transition-duration: 0.4s;
}

.button.hover {
  background-color: #04aa6d;
  color: white;
}

#formBox {
  grid-area: 4 / 3 / 6 / 4;
  width: 1000px;
  padding: 75px;
  border: 1px solid black;
  box-sizing: border-box;
}

#datepicker {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  font-family: sans-serif Arial;
  box-sizing: border-box;
  margin-top: 5px;
}

#moodSelect {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  font-family: sans-serif Arial;
  box-sizing: border-box;
  margin-top: 5px;
}

#comment {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  font-family: sans-serif Arial;
  box-sizing: border-box;
  margin-top: 5px;
}

.navBar {
  grid-area: 2 / 3 / 3 / 4;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Lucida Handwriting", cursive;
  font-weight: 800;
  font-size: xx-large;
}

#calendar {
  display: flex;
  /* height: 100%; */
  flex-wrap: wrap;
  grid-area: 3 / 3 / 4 / 4;
  border: solid 1px black;
  font-family: sans-serif Arial;
}

/* Append Stuff */

#popupOver {
  grid-area: 2 / 2 / 2 / 2;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr, 7fr 1fr;
  grid-template-rows: 1fr, 7fr;
}

.calendarIndivBox {
  display: flex;
  flex-wrap: wrap;
  width: 14.28571428571429%;
  height: fit-content;
  background-color: blue;
  box-sizing: border-box;
  border: solid 1px black;
}

.calendarIndivBox:hover {
  opacity: 80%;
}

.calendarIndivBox:active {
  box-shadow: 0 1% black;
  opacity: 100%;
  /* transform: translateY(4px); */
  transform: scale(1.05);
}

.calendarDate {
  display: flex;
  align-self: center;
  justify-items: center;
  font-family: sans-serif Arial;
  font-size: x-large;
}

.popBox {
  height: 100%;
  width: 100%;
  background-color: aliceblue;
  font-family: sans-serif Arial;
  font-size: x-large;
  grid-area: 1 / 1 / 3 / 4;

  border: solid black 2px;
}

.popupClose {
  height: 10%;
  aspect-ratio: 1 /1;
  grid-area: 4 / 4 / 5 / 5;
  background-color: antiquewhite;
  margin: 10px;
  box-sizing: border-box;
  border: 2px solid black;
}

.popupClose:hover {
  opacity: 50%;
}

.popupClose:active {
  opacity: 100%;
  transform: scale(1.2);
}

.popupBoxText {
  display: flex;
  grid-area: 3 / 3 / 4 / 4;
  justify-content: center;
  align-self: center;
  flex-wrap: wrap;
  font-family: sans-serif Arial;
}

/* End of Append Stuff */
